body {
    margin: 0;
    padding: 0;
    background-color: #3c6382;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
.header {
    text-align: center;
    color: white;
    font-size: 50px;
    background-color: #0a3d62;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

/* Main */
.main {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-family: 'Nunito', sans-serif;
    flex-wrap: wrap-reverse;
    /* background-image: url("./images/doodle-background2.png"); */
}

/* Container */
.container {
    border: 3px solid black;
    background-color: white; 
    width: 500px;
    height: 500px;
    display: grid;
    flex: 0 1 auto;
}

/* Controls */
.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.controls div {
    text-align: center;
}

.controls button {
    width: 150px;
    background-color: #10ac84;
    color: white;
    text-decoration: none;
    border: none;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 25px
}

.color-picker,
.lengthText {
    color: white;
    display: flex;
    flex-direction:column;
}

.color-picker-wrapper {
    margin: 0 auto;
    background-color: #00d2d3;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50px;
}

.color-picker input {
    opacity: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto 10px auto;
    cursor: pointer;
}

#eraser-img ,
#pencil-img{
    width: 120px;
    height: auto;
}

#eraser-img:hover,
#pencil-img:hover,
.controls button:hover,
.color-picker-wrapper:hover,
.slider input:hover{
    transform: scale(1.05);
}

.slider input {
    cursor: pointer;
}

.controls .rainbow {
    background-image: linear-gradient(to right,#5f27cd,#27ae60, #8e44ad,#ee5253,#5f27cd);
    border: 2px solid white;
}

.rainbow:hover {
    animation: slidebg 200s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 5000px;
    }
}

/* Footer */

.footer {
    text-align: center;
    background-color: #222f3e;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    padding-top: 5px;
}

.footer a{
    color: white;
    cursor: pointer;
}

/* Media queries */
@media (max-width:700px){
    .container{
        width: 500px;
        height: 500px;
    }
    .controls {
        gap: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width:500px){
    .container{
        width: 300px;
        height: 300px;
    }
    .controls {
        gap: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 300px){
    .container{
        width: 250px;
        height: 250px;
    }
    .controls {
        gap: 10px;
        margin-bottom: 10px;
    }
}

